.portfolio img {
    width: 300px;
    height: 200px;
}
.current {
    color: red;
    border: solid red 1px;
    background-color: white;
}

.banner button {
    margin-top: 200px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.47);
}